<header class="o-typography-heading-level-1" role="banner" aria-label="{{content.header}}">
    <div class="o-grid-row">
        <div data-o-grid-colspan="12">
            {{content.header}}
        </div>
    </div>
</header>
<main>
    <div class="o-grid-row">
        <div data-o-grid-colspan="12">
            <div class="o-message o-message--error o-padding" role="alert" aria-label="Error">
                <div class="o-message__container">
                    <div class="o-message__content">
                        <h2 class="o-message__title">Error</h2>
                        <p>{{content.error}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>